@import '../../node_modules/skeleton-css/css/normalize.css'
@import '../../node_modules/skeleton-css/css/skeleton.css'

@import './components/*'

// Override skeleton font
@font-face
  font-family Roboto

// Nav style
// Hide navbar
nav
  display none

nav ul
  list-style-type none
  margin 0
  padding 0
  overflow hidden
  background-color #4292c6

nav li
  float left
  margin-bottom 0

nav li a
  display block
  color whitesmoke
  text-align center
  padding 14px 16px
  text-decoration none

nav li a:hover
  border-bottom 5px solid whitesmoke
  color whitesmoke

nav li a.active
  border-bottom 5px solid whitesmoke

// Override skeleton container size
.container
  max-width 100%
  width 98%

.columns
  margin-left 2%

#AxisSelection
  text-align center

#AxisSelection div
  display inline-block

// Button styling
// Add type coloring
.off
  opacity 0.7
  
.on
  opacity 1
  border-style outset
  border-width 3px
  border-color grey
  box-shadow 0 0 0 3px #FF6600


.button
  color #000000
  margin 8px 8px 8px 8px
  
.button:hover
  opacity 1
  
.NORMAL
  background-color #A8A878

.FIRE
  background-color #F08030

.FIGHTING
  background-color #C03028

.WATER
  background-color #6890F0

.FLYING
  background-color #A890F0

.GRASS
  background-color #78C850

.POISON
  background-color #A040A0

.ELECTRIC
  background-color #F8D030

.GROUND
  background-color #E0C068

.PSYCHIC
  background-color #F85888

.ROCK
  background-color #B8A038

.ICE
  background-color #98D8D8

.BUG
  background-color #A8B820

.DRAGON
  background-color #7038F8

.GHOST
  background-color #705898

.DARK
  background-color #705848

.STEEL
  background-color #B8B8D0

.FAIRY
  background-color #EE99AC

